<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
  <application>
    <activity
        android:name="com.microsoft.identity.client.BrowserTabActivity" tools:node="replace">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="msale5b0b0bc-740c-4c48-9070-7eeb062213a5"
            android:host="auth" />
      </intent-filter>
    </activity>
    <meta-data
        android:name="https://login.microsoftonline.com/common"
        android:value="authority string"/>
    <meta-data
        android:name="com.microsoft.identity.client.ClientId"
        android:value="e5b0b0bc-740c-4c48-9070-7eeb062213a5" tools:replace="android:value"/>
  </application>
</manifest>
